footer {
	padding-inline: 10%;
	padding-bottom: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 70;

	a {
		text-decoration: none;
		color: white;
		z-index: 70;

		cursor: pointer;
		div {
			display: flex;
			align-items: center;
			gap: 10px;
			span {
				color: white;
				font-weight: 300;
			}
		}
	}

	.right {
		ul {
			display: flex;
			gap: 25px;
		}
	}
}

@media (max-width: 650px) {
	footer {
		flex-direction: column;
		gap: 50px;
	}
}
